<figure class="thumb work">
  <img 
    class="thumb-img img-fluid"
    src="{{ TimberImage(image).src }}" 
    alt="{{ TimberImage(image).alt }}" 
  />
  <figcaption class="thumb-inner">
    <div class="thumb-content work-content">
      <h5 class="h4 work-title">{{ title }}</h5>
      <span class="work-deco"></span>
      <p class="small">{{ text }}</p>
    </div>
  </figcaption>
</figure>