@font-face {
  font-family: 'DIN Pro Condensed Regular';
  src:  url('../fonts/DIN-pro-condensed-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Condensed Bold';
  src:  url('../fonts/DIN-pro-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}