h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  letter-spacing: .03em;
}

.txt-1 {
  font-family: 'DIN Pro Condensed Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.txt-2 {
  font-family: 'DIN Pro Condensed Bold', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
