// fonts
@import "fonts";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "variables-custom";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// typography
@import "typography";

// components
@import "components/bootstrap-hero/hero";
@import "components/bootstrap-section/section";
@import "components/thumb/thumb";
@import "components/square/square";
@import "components/navbar";
@import "components/deco";
@import "components/section";
@import "components/question";
@import "components/work";
@import "components/feature";
@import "components/about";

form label {
  @extend .txt-2;
  font-size: 1rem;
}

.form-control-minimal, .form-control-minimal:focus {
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: $gray-900;
  //margin-bottom: 4rem;
  margin-bottom: 0;
  padding-left: 0;
}

.acf-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  @extend .txt-1;
  font-size: 1.5rem;
  padding: map-get($spacers, 4);
  border-radius: 0;
  color: white;
}
.acf-button:hover {
  color: white;
}

.acf-error-message {
  @extend .text-danger;
  font-size: 80%;
}

.acf-error-message p {
  margin-bottom: 0;
}